@model IEnumerable<TaskVerso.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
}


<button type="button" class="btn btn-primary">
	<a class="text-white" asp-action="grpByCat">Agrupar por Categoria</a>
</button>

<div class="row">
	<div class="col-md-4">
		<form asp-action="TarefaFuncionario"> <!--chama o metodo trf com o parametro busca sendo o valor do input-->
			<div class="form-group">
				<label class="col-form-label">Filtrar Tarefa por Nome de Funcionário</label>
				<input type="text" class="form-control" name="filtro">
			</div>
			<div class="form-group">
				<input type="submit" value="Filtrar" class="btn btn-primary">
			</div>
		</form>
	</div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridade.Nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
